@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('☺'), url("../fonts/Roboto-Medium.woff2") format("woff2"), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url("../fonts/Roboto-Regular.woff2") format("woff2"), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('☺'), url("../fonts/Roboto-Bold.woff2") format("woff2"), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.eot');
	src: local('☺'), url("../fonts/Roboto-Black.woff2") format("woff2"), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Black';
	src: url('../fonts/Raleway-Black.eot');
	src: local('☺'), url("../fonts/Raleway-Black.woff2") format("woff2"), url('../fonts/Raleway-Black.woff') format('woff'), url('../fonts/Raleway-Black.ttf') format('truetype'), url('../fonts/Raleway-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Bold.eot');
	src: local('☺'), url("../fonts/Raleway-Bold.woff2") format("woff2"), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('fonts/Circle-Regular.eot');
  src: local('☺'), url("../fonts/Circle-Regular.woff2") format("woff2"), url('../fonts/Circle-Regular.woff') format('woff'), url('../fonts/Circle-Regular.ttf') format('truetype'), url('../fonts/Circle-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body {
  margin: 0;
  min-width: 960px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
	font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-wrapper {
  width: 100%;

  background-color: #fbfbfb;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
	min-width: 300px;
	box-sizing: border-box;
	padding: 14px;

	color: #ffffff;
	font-family: 'Roboto-Black', Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: center;

	box-shadow: 0 2px 3px 1px rgba(0, 255, 216, 0.27);
  border: 1px solid #bbfff5;
}

.button:hover,
.button:focus,
.main-header .feedback:hover,
.main-header .feedback:focus {
	box-shadow: 0 2px 6px 1px rgba(0, 255, 216, 0.65);
}

.button:active,
.main-header .feedback:active {
	opacity: 0.6;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100px;
}

.main-navigation,
.navigation {
  padding: 0;
  margin: 0;
}

.main-header .logo {
  width: 141px;
  height: 60px;

  padding-top: 20px;
  padding-right: 48px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;

	width: 500px;
  margin-right: 112px;

  list-style: none;
}

.main-navigation a {
  display: block;
  padding: 10px;

  vertical-align: middle;

  color: #707070;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #000000;
}

.main-header .burger-menu {
	display: none;
}

.main-header .phone {
  max-width: 170px;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.main-header .feedback {
  min-width: 191px;
	box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 40.01px;
	text-align: center;

  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  margin-left: auto;

  background-color: #00ffd8;
}

.about-us {
	background-color: #0b1223;
	background-image: linear-gradient(to top, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%), url('../img/background.jpg');
	background-position: 36% 99%;
	background-repeat: no-repeat;

  padding-top: 152px;
	padding-bottom: 84px;
}

.main-heading {
	padding: 0;
	margin: 0;
	padding-bottom: 23px;

	font-family: 'Raleway-Black', Arial, sans-serif;
	font-size: 72px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	line-height: 1.2;
  text-align: left;
	color: #fffffe;
}

.main-pharagraph {
	margin: 0;
	padding: 0;
	width: 1013px;
	margin-bottom: 53px;

	color: #fffffe;
	font-size: 24px;
	font-weight: 500;
	line-height: 38px;
}

.foundation-year {
  color: #00ffd8;
}

.buttons-wrapper {
	display: flex;
	flex-wrap: wrap;

	min-width: 622px;
	margin-right: auto;
	margin-bottom: 100px;
}

.button-service {
  margin-right: 21px;

  color: #000000;
  background-color: #00ffd8;
}

.advantages {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;

	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}

.advantages div {
	width: 240px;

	text-align: center;
}

.advantages p {
	margin: 0;
	padding: 0;

	padding-top: 107px;
}

.quality p {
	padding-right: 50px;
}

.quality {
	background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: 65px 20px;
}

.performan {
	background-image: url(../img/handshake.png);
  background-repeat: no-repeat;
  background-position: 77px 35px;
}

.manufacture {
	background-image: url(../img/settings.png);
  background-repeat: no-repeat;
  background-position: 99px 16px;
}

.services {
	position: relative;

	padding-top: 80px;
	padding-bottom: 40px;
}

.services-wrapper {
	display: flex;
}

.services-items-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.item-active-tablet .services-item-active {
	display: none;
}

.services-list {
	margin: 0;
	padding: 0;

  list-style: none;
}

.services-item {
	width: 360px;
	min-height: 499px;
	box-sizing: border-box;
	margin-right: 44px;
	margin-bottom: 44px;
	padding-top: 32px;
	padding-right: 47px;
	padding-bottom: 20px;
	padding-left: 44px;

	box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.05);
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.button-indicator {
	display: none;
}

.services-list a:hover,
.services-list a:focus {
	text-decoration: underline;
}

.services-list li {
	padding-bottom: 18px;
}

.montstroy-section {
	position: relative;
}

.montstroy-section::before {
	position: absolute;
	content: "";
	top: 123px;
	right: 0;
  width: 866px;

  border: none;
	border-bottom: 2px solid #000000;
}

.swiper-pagination {
	display: none;
}

.montstroy-section h2,
footer .mobile-heading {
	padding: 0;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 17px;

	font-family: 'Raleway-Black', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #000000;
}

.montstroy-section h3 {
	padding: 0;
	margin: 0;
	padding-bottom: 18px;
	font-family: 'Roboto-Black', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
}

.services-item:nth-child(3n) h3 {
	line-height: normal;
}

.services-item:nth-child(3n) {
	padding-left: 35px;
	padding-right: 53px;
}

.services-item a {
	color: #333333;
	opacity: 0.77;
}

.services-item-tablet {
	display: none;
}

.projects h3 {
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
	text-transform: none;
}

.projects p {
	margin: 0;
	padding: 0;
	color: #ffffff;
  opacity: 0.66;
	font-size: 15px;
	line-height: 22px;
}

.projects-row:nth-child(3) h3 {
	color: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 42px;
}

.projects .projects-item {
	background-color: #262626;
}

.projects ul {
	display: flex;

  margin: 0;
	padding: 0;
	list-style: none;
}

.projects .projects-item {
	position: relative;
	width: 290px;
	min-height: 290px;
	box-sizing: border-box;
	margin-right: 3px;
	margin-bottom: 3px;
	padding-top: 52px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.projects-row:nth-child(2) .projects-item:nth-child(4n) {
	margin-right: 0;
}

.projects-row:nth-child(3) .projects-item:nth-child(2n) {
	margin-right: 0;
}

.projects-row:nth-child(3) .projects-item {
	width: 583px;
	padding-right: 76px;
}

.projects-row:nth-child(3) .buratino {
	padding-right: 73px;
}

.projects h2 {
	margin-bottom: 16px;
}

.projects::before {
	top: 43px;
	right: 9px;
}

.futur h3 {
	font-family: 'Roboto-Black', Arial, sans-serif;
	font-weight: 400;
	padding-bottom: 47px;
}

.oreol h3 {
	font-family: 'Roboto-Black', Arial, sans-serif;
	font-weight: 400;
}

.medial h3 {
	padding-bottom: 46px;
}

.projects-row:nth-child(3) .projects-item {
	padding-top: 40px;
}

.projects-row:nth-child(3) h3 {
  padding-bottom: 31px;
}

.projects .next {
	position: absolute;
	right: 10px;
	bottom: 10px;

	box-sizing: border-box;
	width: 46px;
	height: 34px;

  background: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 13px 11px;
  cursor: pointer;
	border: 2px solid rgba(255, 255, 255, 0.34);
	background-color: transparent;
}

.projects .next:focus,
.projects .next:hover {
	background: url(../img/arrow-black.svg);
	background-repeat: no-repeat;
  background-position: 15px 13px;

	background-color: #00ffd8;
	border: none;
}

.projects .next:active {
	opacity: 0.6;
}

.projects .projects-item {
	background-position: 0 0;
	background-repeat: no-repeat;
}

.projects .futur {
	background-image: url('../img/futur.png');
}

.projects .oreol {
	background-image: url('../img/oreol.png');
}

.projects .semeynyi {
	background-image: url('../img/semeynyi.png');
}

.projects .medial {
	position: relative;
	background-color: #292929;
	background-image: linear-gradient(to top, #0d0d0d 0%, rgba(13, 13, 13, 0.7) 100%), url('../img/medial.png');
}

.projects .energonatskompani {
	background-color: #000000;
	background-image: url('../img/energonatskompani.png');
}

.projects .buratino {
	background-color: #000000;
	background-image: url('../img/buratino.png');
}

.projects {
	margin-bottom: 92px;
}

.partners::before {
	top: 40px;
  right: 162px;
  width: 713px;
}

.partners {
	margin-bottom: 128px;
}

.partners .partners-wrapper {
	display: flex;

	margin: 0;
	padding: 0;
	padding-top: 21px;
	padding-bottom: 21px;
	list-style: none;
}

.partners-item img {
	padding: 0;
  margin: auto;
}

.partners .swiper-slide {
	display: flex;
	width: 270px;
	height: 135px;
	box-sizing: border-box;
	margin-right: 30px;

	border: 1px solid #d6d6d6;
	overflow: hidden;
}

.partners .partners-item:nth-child(4n){
	margin-right: 0;
}

.partners-item img {
	width: 270px;
	height: 135px;
}

.partners {
	position: relative;
}

.partners .swiper-button-prev {
	position: absolute;
	left: 1065px;
	top: 47px;
  width: 58px;
  height: 34px;
  box-sizing: border-box;

  background: url(../img/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: 27px 12px;
	transform: rotate(180deg);

	border: none;
	opacity: 1;
	border: 2px solid #292929;
	border-left: none;

	cursor: pointer;
}

.partners .swiper-button-next {
	position: absolute;
	right: 9px;
  top: 47px;
  width: 58px;
  height: 34px;
  box-sizing: border-box;

  background: url(../img/arrow-black.svg);
  background-repeat: no-repeat;
  background-position: 27px 12px;

	border: 2px solid #292929;
	border-left: none;

	cursor: pointer;
}

.partners .swiper-button-next:hover,
.partners .swiper-button-prev:hover,
.partners .swiper-button-prev:focus,
.partners .swiper-button-next:focus {
	background-color: rgba(0, 255, 216, 0.3);
}

.partners .swiper-button-next:active,
.partners .swiper-button-prev:active {
	opacity: 0.6;
}

.partners .swiper-button-next::before {
	content: "";
	position: absolute;
	right: 54px;
  top: 11px;
	width: 1px;
	height: 8px;
	background-color: #292929;
}

.partners-wrapper-tablet {
	display: none;
}

.partners-header-tablet {
	display: none;
}

.partners .swiper-container {
	margin-top: 20px;
}

.partners .swiper-slide {
	display:flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.map img {
	position: relative;
}

.map img::before {
	position: absolute;
  content: "";
  top: 300px;
  right: 500px;
  width: 72px;
	height: 98px;
	z-index: 2;
	background: url(../img/marker.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.map p {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.map img {
  display: none;

  width: 1922px;
  height: 807px;
}

footer {
	position: relative;
}

footer .footer-contacts {
	position: relative;
}

footer .mobile-heading {
	display: none;
}

.footer-contacts .contacts-wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border: 1px solid #00ffd7;
}

.write-us .wrapper-write {
	position: absolute;
	top: -34.6%;
  left: 50%;
  margin-left: -290px;
	width: 580px;
	min-height: 580px;
	box-sizing: border-box;
	z-index: 3;

	background-color: #ffffff;
	padding-top: 43px;
  padding-right: 73px;
  padding-bottom: 38px;
  padding-left: 73px;
}

.write-us h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 31px;

	color: #000000;
	font-family: 'Raleway-Black', Arial, sans-serif;
	font-size: 25px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.write label {
	position: relative;
  display: block;
  margin: 0;
  padding: 0;

	color: #000000;
	font-size: 20px;
	line-height: 50px;
	letter-spacing: 0.8px;
}

.write .user-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -33px;
}

.user-data div:first-child {
	margin-right: 39px;
}

.write-us .letter {
	padding-top: 24px;
}

.write p {
	margin: 0;
	padding: 0;
	margin-bottom: 38px;

	color: #000000;
	font-size: 12px;
	line-height: 18px;
	opacity: 0.5;
	text-align: center;
}

.write-us .write p {
	margin-top: 16px;
}

.write-us input {
	box-sizing: border-box;
	padding: 7px;
	border: none;
}

.write-us label::before {
	position: absolute;
  content: "";
  top: 66px;
  left: 0;
  width: 178px;
	border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.write-us input:nth-child(3n),
.write-us input:nth-child(5n){
	width: 100%;
}

.write-us .e-mail::before,
.write-us .letter::before {
	width: 400px;
	left: 0;
}

.write-us .e-mail::before {
	top: 68px;
}

.write-us .letter::before {
	top: 92px;
}

.write-us .button-write {
	display: block;
	min-width: 230px;
	min-height: 60px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;


	color: #ffffff;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 1px;
	background-color: #000000;
	border: none;
}

.write-us .button-write:hover,
.write-us .button-write:focus {
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}

.write-us .button-write:active {
	opacity: 0.6;
}

.write-us .privacy-policy {
	position: relative;
	color: #000000;
}

.write-us .privacy-policy:hover,
.write-us .privacy-policy:focus {
	opacity: 0.5;
}

.write-us .privacy-policy:active{
	opacity: 0.3;
}


.write-us .privacy-policy::before {
	position: absolute;
	content: "";
	top: 21px;
	left: 3px;
	color: #000000;
	width: 189px;
	height: 0;

	border: 1px dashed #000000;
	opacity: 0.4;
}

.footer-contacts {
	background-color: #000000;
	padding-bottom: 45px;
}

.footer-contacts .contacts-wrapper {
	display: flex;
	justify-content: space-between;

	padding-top: 58px;
	padding-bottom: 176px;
}

.footer-contacts .contacts-column:first-child {
	padding-top: 8px;
}

.footer-contacts .footer-logo {
	margin-bottom: 42px;
	width: 141px;
	height: 60px;
}

.footer-contacts .name {
	padding: 0;
	margin: 0;
	margin-bottom: 38px;

	color: #fffffe;
	font-size: 16px;
	line-height: 38px;
	opacity: 0.9;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
	padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  position: relative;
  width: 45px;
  height: 45px;
	box-sizing: border-box;

	background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover,
.social-button:focus {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:active {
	opacity: 0.5;
}

.social-button-vk {
  background-image: url("../img/icon-vk.png");
}

.social-button-vk:hover,
.social-button-vk:focus {
  background-image: url("../img/icon-vk-hover.png");
}

.social-button-tw {
  background-image: url("../img/icon-tw.png");
}

.social-button-tw:hover,
.social-button-tw:focus {
  background-image: url("../img/icon-tw-hover.png");
}

.social-button-fb {
  background-image: url("../img/icon-fb.png");
}

.social-button-fb:hover,
.social-button-fb:focus {
  background-image: url("../img/icon-fb-hover.png");
}

.footer-social li {
  padding-right: 7px;
}

.footer-social li:first-child {
	padding-right: 12px;
}

.footer-contacts p {
	padding: 0;
	margin: 0;
}

.footer-contacts .footer-address {
	position: relative;
	color: #ffffff;
	font-size: 16px;
	line-height: 25.92px;
	margin-bottom: 50px;
}

.footer-contacts .footer-address::before,
.footer-contacts .footer-email::before,
.footer-contacts .footer-phone::before {
	position: absolute;
	content: "";
	top: 5px;
	left: -21px;
	width: 12px;
	height: 15px;
	background-image: url(../img/icon-marker.svg);
}

.footer-contacts .footer-email::before {
	top: 8px;
	width: 16px;
	height: 12px;
	background-image: url(../img/icon-letter.svg);
}

.footer-contacts .footer-phone::before {
	width: 13px;
	height: 13px;
	background-image: url(../img/icon-phone.svg);
}

.footer-contacts .footer-email {
	position: relative;
	display: block;
	padding-left: 10px;
	margin-bottom: 37px;

	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 25.92px;
}

.footer-contacts .footer-phone {
	position: relative;
	padding-left: 6px;
}

.footer-contacts .footer-navigation {
	display: none;
}

.footer-phone .phone {
	display: block;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 25.92px;
	text-transform: uppercase;
}

.footer-phone .work-time {
	position:absolute;
	top: 9px;
	left: 5px;
	color: #ffffff;
	line-height: 44.87px;
	opacity: 0.6;
}

.footer-contacts .footer-copyright {
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	line-height: 25px;
	letter-spacing: 0.4px;
	opacity: 0.25;
}

.main-pharagraph-mobile {
	display: none;
}

.mobile-contacts {
	display: none;
}

@media (max-width: 1169px) {

	body {
		min-width: 768px;
		background-color: #fefdff;
	}

	.container {
		width: 724px;
		margin: 0 auto;
		padding: 0 10px;
	}

	.button {
    min-width: 290px;
    font-size: 16px;
    line-height: 26px;
	}

	.main-header {
		position: relative;
    min-height: 50px;
	}

	.main-header .header-logo {
		width: 86px;
		height: 37px;
	}

	.main-header .logo {
		padding: 0;
		padding-right: 31px;
		padding-left: 42px;
		width: 86px;
		height: 37px;
	}

	.main-header .burger-menu {
		display: block;
		box-sizing: border-box;
	  position: relative;
		width: 40px;
		height: 40px;
		border: none;
		background-color: #fbfbfb;
	}

	.main-header .burger-menu:focus {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.main-header .burger-menu:active {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.main-header .burger-menu::before {
		position: absolute;
		content: "";
		top: 10px;
	  left: 8px;

		width: 26px;
		height: 8px;

		border-top: 2px solid rgba(0, 0, 0, 0.3);
		border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	}

	.main-header .burger-menu::after {
		position: absolute;
		content: "";
		top: 29px;
	  left: 8px;

		width: 26px;
		height: 0;

		border-top: 2px solid rgba(0, 0, 0, 0.3);
	}

	.main-navigation {
		position: absolute;
		top: 50px;
		left: -54px;

		display: none;
		width: 207px;
		box-sizing: border-box;

		background-color: #e7e7e7;
	}

	.burger-menu:focus + .main-navigation,
	.burger-menu:active + .main-navigation {
		display: block;
	}

	.main-navigation a {
		padding-top: 11px;
		padding-bottom: 9px;
		color: #383838;
		font-family: 'Circe', Arial, sans-serif;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
	}

	.main-navigation li {
		text-align: center;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.main-navigation li:first-child {
		display: none;
	}

	.main-header .phone {
		margin-left: auto;
		margin-right: 40px;
		font-size: 14px;
	}

	.main-header .feedback {
		display: none;
	}

	.about-us {
		padding: 0;
		margin: 0;
		background-color: #fefdff;
		background-image: none;
	}

	.about-us .about-us-wrapper {
		padding-top: 125px;
		padding-bottom: 29px;
		background-color: #0b1223;
		background-image: linear-gradient(to top, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%), url(../img/background.jpg);
		background-position: 71% 0;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.about-us .main-heading {
  	padding-bottom: 15px;
		padding-left: 62px;

		font-size: 38px;
		letter-spacing: 1.9px;
		line-height: normal;
	}

	.about-us .main-pharagraph {
		width: 588px;
		margin-bottom: 79px;
		padding-left: 62px;

		color: #fffffe;
		font-size: 16px;
		font-weight: 400;
		line-height: normal;
	}

	.buttons-wrapper {
    min-width: 620px;
		padding-left: 62px;
    margin-right: auto;
	}

	.advantages {
		position: relative;
		color: #000000;
		font-size: 14px;
	}

	.container-advantages {
		min-width: 768px;
		box-sizing: border-box;
		padding: 0;
		padding-top: 69px;
		padding-right: 26px;
		padding-left: 26px;
		padding-bottom: 46px;
		background-color: #fefdff;
	}

	.advantages p {
		padding: 0;
		margin: 0;
		width: 152px;
		padding-top: 95px;
		margin: 0 auto;
	}

	.manufacture p {
		width: 185px;
	}

	.advantages div {
		position: relative;
		width: 230px;
		min-height: 163px;
		box-sizing: border-box;

		opacity: 0.7;
		color: #000000;
		font-size: 12px;
		font-weight: 400;
		line-height: 16.26px;

		box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
	}

	.advantages .advantages-current {
		position: absolute;
		z-index: 3;
		top: -20px;
		left: 217px;
		width: 280px;
		min-height: 200px;
		color: #000000;

		font-size: 14px;
		line-height: 20px;
	}

	.advantages-current p {
		padding-top: 118px;
	}

	.advantages .quality::before {
		position: absolute;
		content: "";
		top: 23px;
		left: 84px;
		width: 62px;
		height: 64px;
		background-image: url(../img/like-tablet.png);
	}

	.advantages .performan::before {
		position: absolute;
		content: "";
		top: 49px;
		left: 95px;
		width: 89px;
		height: 59px;
		background-image: url(../img/handshake-tablet.png);
	}

	.advantages .manufacture::before {
		position: absolute;
		content: "";
		top: 21px;
    left: 81px;
		width: 70px;
		height: 69px;
		background-image: url(../img/settings-tablet.png);
	}

	.advantages .button-indicator {
		display: flex;
		position: absolute;
    padding: 0;
    top: 187px;
    left: 343px;
    width: 8px;
    height: 8px;
    background-color: #d6d6d6;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
	}

	.advantages .button-indicator-2 {
		left: 356px;
	}

	.advantages .button-indicator-active {
		background-color: #00ffd7;
	}

	.advantages .button-indicator-3 {
		left: 368px;
		background-color: #dddddd;
	}

	.montstroy-section h2 {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 1.04px;
	}

	.montstroy-section::before {
		display: none;
	}

	.services .services-wrapper {
		position: relative;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 352px;
		margin-left: 372px;
		margin-bottom: 78px;
	}

	.services-item {
		min-height: 50px;
	}

	.services-item:nth-child(3n) {
    padding-left: 0;
    padding-right: 0;
  }

	.services-item:nth-child(4) h3,
	.services-item:nth-child(6) h3 {
		padding-top: 5px;
		padding-bottom: 3px;
		line-height: normal;
	}

	.services-item .services-list {
		display: none;
	}

	.services-item-active .services-list {
		display: block;
	}

	.services-item:hover .services-list {
		display: block;
	}

	.services h2 {
		padding-bottom: 16px;
	}

	.services-item {
		display: block;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		margin-right: 20px;
		width: 352px;
	}

	.services-item h3 {
		position: relative;
		width: 352px;
		min-height: 50px;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 12px;
		padding-left: 22px;
		margin-bottom: 10px;

		font-family: 'Roboto', Arial, sans-serif;
		font-size: 14px;
		line-height: 26px;
		color: #313131;

		background-color: #f4f4f4;
	}

	.services-item:nth-child(3) h3 {
    line-height: 26px;
	}

	.services-item h3::before {
		position: absolute;
		content: "";
		top: 21px;
		right: 21px;
		width: 8px;
		height: 5px;
		background-image: url(../img/triangle.svg);
	}

	.services-item-active h3 {
		margin-bottom: 0;

		color: #000000;
		background-color: #d7d7d7;
	}

	.services-item {
		box-shadow: none;
	}

	.services-item-active a {
		color: #000000;
	}

	.services-item-active h3::before {
		background-image: url(../img/triangle-active.svg);
	}

	.services-item a:hover,
	.services-item a:focus {
		text-decoration: none;
		box-shadow: 0 2px 6px 1px rgba(0, 255, 216, 0.65);
		border: 1px solid #00ffd7;
	}

	.services-items-wrapper {
		flex-direction: column;
	}

	.services-list li {
    padding-bottom: 0;
	}

	.services-items-wrapper .services-item-active {
		display: block;
	}

	.services .services-wrapper {
		flex-direction: row;
		flex-wrap: nowrap;
		width: auto;
		margin: 0;
		padding: 0;
	}

	.services {
		padding-bottom: 46px;
	}

	.services-item a {
		display: block;
		width: 352px;
		min-height: 40px;
		box-sizing: border-box;
		padding-top: 8px;
		padding-right: 52px;
		padding-bottom: 11px;
		padding-left: 20px;

		font-size: 14px;
		line-height: 26px;

		background-color: #f4f4f4;
		border: 1px solid transparent;
		border-bottom: 1px solid #e8e8e8;
	}

	.services-list-item:nth-child(4) a,
	.services-list-item:nth-child(5) a,
	.services-list-item:nth-child(6) a {
		padding-top: 4px;
		padding-bottom: 4px;
		line-height: normal;
	}

	.projects .projects-row {
		flex-direction: column;
	}

	.projects .projects-item {
		width: 100%;
		min-height: 180px;
		box-sizing: border-box;
		background-position: 0 0;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
		padding-top: 43px;
		padding-right: 100px;
		padding-bottom: 10px;
		padding-left: 45px;
		margin-bottom: 10px;
	}

	.projects p {
		font-size: 18px;
		line-height: 22px;
	}

	.projects-row:nth-child(3) .projects-item {
    width: 100%;
		padding-top: 31px;
		padding-right: 60px;
		padding-bottom: 10px;
		padding-left: 45px;
	}

	.projects .futur {
    background-image: url('../img/futur-tablet.png');
	}

	.projects .oreol {
		background-image: url('../img/oreol-tablet.png');
	}

	.projects .semeynyi {
		background-image: url('../img/semeynyi-tablet.png');
	}

	.projects .medial {
		position: relative;
		background-color: #292929;
		background-image: linear-gradient(to top, #0d0d0d 0%, rgba(13, 13, 13, 0.7) 100%), url('../img/medial-tablet.png');
	}

	.projects .energonatskompani {
		background-color: #000000;
		background-image: url('../img/energonatscompani-tablet.png');
	}

	.projects .buratino {
		background-color: #000000;
		background-image: url('../img/buratino-tablet.png');
	}

	.projects h2 {
    margin-bottom: 13px;
	}

	.projects h3 {
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 24px;
		font-weight: 700;
		padding: 0;
		margin: 0;
		padding-bottom: 15px;
	}

	.projects .semeynyi,
	.projects .medial {
		padding-top: 35px;
		padding-right: 207px;
	}

	.tablet-none {
		display: none;
	}

	.projects-row:nth-child(3) h3 {
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 24px;
		font-weight: 700;
		padding: 0;
		margin: 0;
		padding-bottom: 6px;
	}

	.projects .next {
		display: none;
	}

	.partners-header-desktop {
		display: none;
	}

	.partners .partners-header-tablet {
		display: block;
		padding: 0;
		margin: 0;
		padding-top: 60px;
	}

	.partners .swiper-button-next,
	.partners .swiper-button-prev {
		display: none;
	}

	.partners {
		margin-bottom: 117px;
	}

	.partners .swiper-slide {
		display:flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 230px!important;
		height: 163px;

		box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
		background-color: #ffffff;
	}

	.swiper-slide img {
		border: none;
	}

	.partners .swipper-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.partners .swiper-slide-next {
		position: absolute;
		top: -21px;
		left: 224px;
		z-index: 3;
		width: 280px!important;
		height: 200px;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets {
		bottom: 35px;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
		left: 51%;
	}

	.swiper-pagination-bullet-active {
    opacity: 1;
		width: 8px;
		height: 8px;
		background-color: #00ffd7
	}

	.partners .swiper-container {
		min-height: 230px;
		margin-top: 37px;
	}

	.partners .button-indicator {
		display: flex;
		position: absolute;
		padding: 0;
		top: 226px;
		left: 343px;
		width: 4px;
		height: 4px;
		background-color: #dddddd;
		border: 0;
		border-radius: 50%;
		cursor: pointer;
	}

	.partners .button-indicator-2 {
		width: 6px;
		height: 6px;
		top: 225px;
		left: 353px;
	}

	.partners .button-indicator-active {
		width: 8px;
		height: 8px;
		background-color: #00ffd7;
	}

	.partners .button-indicator-3 {
		top: 224px;
		left: 365px;
	}

	.partners .button-indicator-4 {
		left: 377px;
	}

	footer .map {
		height: 348px;
	}

	.map iframe {
		height: 348px;
	}

	.write-us {
    width: 768px;
	}

	.write-us .wrapper-write {
    position: absolute;
		top: -23.5%;
    left: 47%;
    width: 413px;
    min-height: 413px;
    box-sizing: border-box;
    z-index: 3;
		padding-top: 31px;
    padding-right: 48px;
    padding-bottom: 22px;
    padding-left: 52px;
	}

	.write-us h2 {
		font-size: 18px;
		line-height: 35.6px;
		margin-bottom: 20px;
	}

	.write label {
		font-size: 14px;
		line-height: 35.6px;
	}

	.user-data div:first-child {
		width: 117px;
    margin-right: 43px;
	}

	.write-us label::before {
		width: 117px;
		top: 49px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.write-us .name {
		width: 117px;
	}

	.write-us .phone::before {
		width: 151px;
		top: 49px;
		left: 2px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	.write-us input {
    padding: 3px;
	}

	.user-data div:last-child {
		width: 151px;
	}

	.write .user-data {
		flex-wrap: nowrap;
		margin-bottom: -7px;
	}

	.write-us .e-mail::before,
	.write-us .letter::before {
    width: 311px;
	}

	.write-us .e-mail::before {
    top: 50px;
	}

	.write-us .letter {
    padding-top: 14px;
	}

	.write-us .letter::before {
    top: 64px;
	}

	.write-us .button-write {
    min-width: 165px;
    min-height: 44px;
    font-size: 16px;
    line-height: 35.6px;
    letter-spacing: 0.9px;
	}

	.write-us p {
		margin-top: 6px;
    margin-bottom: 28px;
    font-size: 10px;
    line-height: 12.82px;
	}

	.write-us .write p {
    margin-top: 5px;
	}

	.write-us .privacy-policy::before {
    top: 14px;
    left: 0px;
		width: 149px;
    color: #000000;
	}

	.footer-contacts .contacts-wrapper {
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: flex-end;
		width: 640px;
    padding-top: 25px;
    padding-bottom: 41px;
  }

	.footer-contacts .footer-logo {
    display: none;
  }

	.footer-contacts .contacts-column:first-child {
		position: relative;
		display: flex;
		margin-top: 98px;
		width: 100%;

		color: #ffffff;
		font-size: 12px;
	}

	.footer-contacts .contacts-column:last-child {
		padding-right: 7px;
	}

	.footer-contacts .name {
		padding: 0;
		margin: 0;
		padding-right: 32px;
		font-size: 12px;
		line-height: 38px;
		color: #fffffe;
		opacity: 0.5;
	}

	.footer-contacts .footer-navigation {
		display: flex;
		flex-wrap: wrap;

		width: 370px;

		margin: 0;
		padding: 0;

		list-style: none;
	}

	.footer-navigation a {
		padding: 10px;
		padding-right: 18px;
		padding-left: 18px;
		opacity: 0.5;
		color: #ffffff;
		font-size: 12px;
		line-height: 38px;
	}

	.footer-contacts .footer-address,
	.footer-contacts .footer-email,
	.footer-phone .phone  {
		font-size: 14px;
	}

	.footer-contacts .footer-address {
    margin-bottom: 48px;
	}

	.footer-phone .work-time {
		font-size: 12px;
	}

	.social-button {
		width: 30px;
		height: 30px;
	}

	.social-button-vk {
    background-image: url(../img/vk-tablet.png);
	}

	.social-button-tw {
		background-image: url(../img/tw-tablet.png);
	}

	.social-button-fb {
		background-image: url(../img/fb-tablet.png);
	}

	.social-button-vk:hover,
	.social-button-vk:focus {
		background-image: url(../img/vk-tablet-hover.png);
	}

	.social-button-tw:hover,
	.social-button-tw:focus {
    background-image: url(../img/tw-tablet-hover.png);
	}

	.social-button-fb:hover,
	.social-button-fb:focus {
    background-image: url(../img/fb-tablet-hover.png);
	}

	.footer-social {
		position: absolute;
		top: 17px;
		right: -9px;
    display: flex;
		justify-content: space-between;
    flex-wrap: wrap;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
	}

	.footer-social li {
    padding-right: 0;
	}

	.footer-social li:first-child {
    padding-right: 6px;
	}

	.footer-contacts .contacts-column:first-child::before {
		position: absolute;
		content: '';
		top: 69px;
		left: 0;
		width: 640px;
		height: 0;
		border: none;
		border-bottom: 1px solid #ffffff;
		opacity: 0.1;
	}

	.footer-contacts {
		position: relative;
	}

	.footer-contacts .contacts-wrapper::before {
		position: absolute;
		content: '';
		top: 0px;
		left: 0;
		width: 100%;
		height: 0;
		border: 1px solid #00ffd7;
	}

	.main-pharagraph-mobile {
		display: none;
	}
}

@media (max-width: 723px) {

	body {
		min-width: 320px;
	}

	.container {
		width: 280px;
	}

	.button {
    min-width: inherit;
		padding: 16px;
    font-size: 16px;
    line-height: 26px;
	}

	.main-header {
		position: relative;
    min-height: 50px;
	}

	.main-header .header-logo {
		width: 86px;
		height: 37px;
	}

	.main-header .logo {
		padding: 0;
		width: 86px;
		height: 37px;
	}

	.main-header .burger-menu {
		display: block;
		box-sizing: border-box;
	  position: relative;
		width: 30px;
		height: 30px;
		margin-left: auto;
		border: none;
		background-color: #fbfbfb;
	}

	.main-header .burger-menu:focus {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.main-header .burger-menu:active {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.main-header .burger-menu::before {
		position: absolute;
		content: "";
		top: 8px;
		left: 12px;
		width: 18px;
		height: 4px;

		border-top: 2px solid rgba(0, 0, 0, 0.3);
		border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	}

	.main-header .burger-menu::after {
		position: absolute;
		content: "";
		top: 20px;
		left: 12px;
		width: 18px;
		height: 0;

		border-top: 2px solid rgba(0, 0, 0, 0.3);
	}

	.main-navigation {
		position: absolute;
		top: 50px;
		left: 0;

		display: block;
		display: none;
		width: 100vw;
		margin-left: calc(-50vw + 50%);
		box-sizing: border-box;

		background-color: #e7e7e7;
	}

	.main-navigation a {
		padding-top: 11px;
		padding-bottom: 9px;
		color: #383838;
		font-family: 'Circe', Arial, sans-serif;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
	}

	.main-navigation li {
		text-align: center;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.main-navigation li:first-child {
		display: none;
	}

	.main-header .phone {
		margin-left: auto;
		margin-right: 40px;
		font-size: 14px;
	}

	.main-header .feedback {
		display: none;
	}

	.main-header .phone {
		display: none;
	}

	.about-us {
		padding: 0;
		margin: 0;
		background-color: #fefdff;
		background-image: none;
	}

	.about-us .about-us-wrapper {
		position: relative;
		padding-top: 127px;
		padding-bottom: 29px;
		margin-bottom: 220px;
		background-color: #0b1223;
		background-image: linear-gradient(to top, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%), url(../img/background.jpg);
		background-position: 71% 0;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.about-us .main-heading {
		padding-bottom: 6px;
		padding-left: 0;
		font-size: 16px;
		letter-spacing: 0.8px;
		line-height: normal;
		text-align: center;
	}

	.main-pharagraph-mobile {
		display: block;
		padding: 0;
		margin: 0;
		margin-top: 16px;
		margin-bottom: 59px;

		color: #fffffe;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
	}

	.about-us .main-pharagraph {
		position: absolute;
		bottom: -38.5%;
		left: 50%;
		padding: 0;
		margin: 0;
		margin-left: -137px;
		width: 274px;

		color: #000000;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
	}

	.main-pharagraph .foundation-year {
		color: #000000;
	}

	.buttons-wrapper {
    display: flex;
		flex-direction: column;
		min-width: 280px;
    width: auto;
		padding-left: 0;
    margin-bottom: 23px;
	}

	.button-service {
    margin-right: 0;
		margin-bottom: 10px;
	}

	.advantages {
		position: relative;
		display: block;
		color: #000000;
		font-size: 14px;
	}

	.container-advantages {
		min-width: inherit;
		padding: 0;
		background-color: #fefdff;
	}

	.advantages p {
		padding: 0;
		margin: 0;
		width: 152px;
		padding-top: 95px;
		margin: 0 auto;
	}

	.manufacture p {
		width: 185px;
	}

	.advantages div {
		position: relative;
		width: 280px;
		min-height: 200px;
		box-sizing: border-box;
		color: #000000;
		padding: 0;
		margin: 0;

		font-size: 14px;
		line-height: 20px;
		border: 1px solid #dddddd;
	}

	.advantages .advantages-current {
    position: relative;
		top: 0;
		left: 0;
	}

	.advantages p {
		padding-top: 115px;
	}

	.advantages .quality::before {
		position: absolute;
		content: "";
		top: 30px;
		left: 107px;
		width: 62px;
		height: 64px;
		background-image: url(../img/like-tablet.png);
	}

	.advantages .performan {
		display: block;
	}

	.advantages .quality {
		display: none;
	}

	.advantages .manufacture {
		display: none;
	}

	.advantages .performan::before {
		position: absolute;
		content: "";
		top: 41px;
		left: 95px;
		width: 89px;
		height: 59px;
		background-image: url(../img/handshake-tablet.png);
	}

	.advantages .manufacture::before {
		position: absolute;
		content: "";
		top: 30px;
    left: 110px;
		width: 70px;
		height: 69px;
		background-image: url(../img/settings-tablet.png);
	}

	.advantages .button-indicator {
		display: flex;
		position: absolute;
    padding: 0;
		top: 206px;
		left: 125px;
		width: 6px;
		height: 6px;
    background-color: #d6d6d6;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
	}

	.advantages .button-indicator-2 {
		top: 205px;
    left: 136px;

		width: 8px;
		height: 8px;
	}

	.advantages .button-indicator-active {
		background-color: #00ffd7;
	}

	.advantages .button-indicator-3 {
		left: 149px;
		background-color: #dddddd;
	}

	.montstroy-section h2,
	footer .mobile-heading {
		padding: 0;
		margin: 0;
		padding-top: 31px;
		padding-bottom: 2px;
		font-size: 20px;
		letter-spacing: 0.8px;
	}

	.services h2 {
		padding: 0;
		margin: 0;
		padding-top: 45px;
		padding-bottom: 10px;

		font-size: 20px;
		letter-spacing: 0.8px;
	}

	.item-active-tablet {
		display: none;
	}

	.services-items-wrapper {
		display: flex;
		flex-direction: column;
		width: 320px;
		margin-left: -20px;
	}

	.services .services-wrapper {
		padding: 0;
		margin: 0;
		width: 320px;
	}

	.services-item {
		padding: 0;
		margin: 0;
		width: 320px;
	}

	.services-item h3 {
    width: auto;
    min-height: 50px;
    padding: 0;
    margin: 0;
		padding-top: 11px;
		padding-right: 10px;
		padding-bottom: 11px;
		padding-left: 20px;
	}

	.services-item-active h3 {
		width: 320px;
		font-size: 16px;
		padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 21px;
	}

	.services-items-wrapper .services-list {
		width: 320px;
	}

	.services-items-wrapper .services-item {
		margin-bottom: 10px;
	}

	.services-item-active h3::before {
    top: 25px;
    right: 20px;
	}

	.services-list li {
		width: 320px;
	}

	.services-list-item a {
		width: auto;
		min-height: 40px;
		font-size: 12px;
		padding-top: 4px;
    padding-right: 26px;
    padding-bottom: 7px;
    padding-left: 19px;
	}

	.services-item:not(:first-child) a {
    display: block;
    width: 320px;
    min-height: 40px;
    box-sizing: border-box;
    padding-top: 4px;
    padding-right: 52px;
    padding-bottom: 4px;
    padding-left: 19px;
    font-size: 12px;
    line-height: normal;
    background-color: #f4f4f4;
    border: 1px solid transparent;
    border-bottom: 1px solid #e8e8e8;
	}

	.services-list-item:first-child a {
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 19px;
	}

	.services-list-item:nth-child(4) a,
	.services-list-item:nth-child(5) a,
	.services-list-item:nth-child(6) a {
    padding-top: 1px;
	}

	.services-items-wrapper .services-item:first-child {
		margin-bottom: 0;
	}

	.services {
    padding-bottom: 31px;
	}

	.projects h2 {
		padding: 0;
		padding-top: 13px;
		padding-bottom: 16px;
		margin: 0;
		line-height: normal;
	}

	.projects h3,
	.projects-row:nth-child(3) h3  {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
		text-align: center;
	}

	.projects-row:nth-child(3) h3  {
		line-height: 50px;
	}

	.projects p {
		display: none;
	}

	.projects .projects-item {
    min-height: 100px;
    background-position: 0 0;
    background-repeat: no-repeat;
		background-size: 280px 100px;
    padding: 0;
    margin: 0;
    padding-top: 37px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
    margin-bottom: 10px;
	}

	.projects .buratino {
		background-image: url(../img/buratino.png);
	}

	.projects-row:nth-child(3) .projects-item {
		padding: 0;
		padding-top: 23px;
	}

	.partners .partners-header-tablet {
		display: none;
	}

	.partners .partners-header-desktop {
		display: block;
		padding: 0;
		margin: 0;
		padding-top: 34px;
		padding-bottom: 0;
		line-height: normal;
	}

	.partners .partners-wrapper-tablet {
		display: none;
	}

	.partners .partners-wrapper {
		display: block;
		padding-top: 18px;
	}

	.partners-wrapper .partners-item:not(:first-child) {
		display: none;
	}

	.partners .button-indicator {
    padding: 0;
    top: 165px;
    left: 123px;
	}

	.partners .button-indicator-2,
	.partners .button-indicator-3 {
    width: 6px;
    height: 6px;
    top: 166px;
    left: 136px;
	}

	.partners .button-indicator-3 {
		left: 147px;
	}

	.partners .button-indicator-4 {
		top: 167px;
		left: 158px;
	}

	.partners .button-indicator-active {
    width: 8px;
    height: 8px;
    background-color: #00ffd7;
	}

	footer .mobile-heading {
		display: block;
		width: 280px;
		margin: 0 auto;
    padding: 0 10px;
		padding-bottom: 7px;
	}

	.map iframe {
    height: 196px;
	}

	footer .map {
    height: 196px;
	}

	footer .write-us {
		width: 100vw;
		background-color: #ffffff;
	}

	.footer-contacts .contacts-column:last-child {
		padding: 0;
		margin: 0;
		padding-left: 16px;
	}

	.footer-contacts .footer-address {
		margin-bottom: 11px;
		line-height: normal;
	}

	.footer-contacts .footer-email  {
		margin-bottom: 7px;
	}

	.footer-phone .work-time {
    top: 12px;
	}

	footer .write-us {
		position: relative;
	}

	.footer-contacts .name {
		display: none;
	}

	.write-us .wrapper-write {
		position: relative;
		top: auto;
		left: auto;
		margin: 0;
		padding: 0;
		margin: 0 auto;
    padding-top: 39px;
		padding-right: 20px;
    padding-bottom: 59px;
		padding-left: 20px;
		width: 320px;
		min-height: 300px;
	}

	.write-us h2 {
    margin-bottom: 14px;
	}

	.write-us .e-mail {
		padding-top: 8px;
	}

	.write .user-data {
    margin-bottom: 0px;
	}

	.write-us .phone::before {
    width: 118px;
	}

	.write-us .e-mail::before,
	.write-us .letter::before {
    width: 100%;
	}

	.write-us .e-mail::before {
    top: 57px;
	}

	.write-us .letter {
    padding-top: 16px;
	}

	.write-us p {
    margin-bottom: 32px;
	}

	.write-us .write p {
    margin-top: 15px;
	}

	.footer-contacts .contacts-wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    padding-top: 20px;
    padding-bottom: 12px;
	}

	.footer-contacts .footer-email,
	.footer-phone .phone {
		font-weight: 400;
	}

	.footer-phone .phone {
		padding-bottom: 37px;
	}


	.footer-contacts .footer-navigation {
		display: block;
    width: 320px;
    margin: 0 auto;
		padding: 0 20px;
    box-sizing: border-box;
    background-color: #1a1a1a;
	}

	.user-data div:first-child {
    margin-right: 129px;
	}

	.footer-contacts .contacts-column:first-child {
    position: relative;
    display: flex;
		flex-direction: column;
    margin-top: 0;
    width: 100vw;
    color: #ffffff;
    font-size: 14px;
		background-color: #1a1a1a;
	}

	.footer-navigation li {
		text-align: left;
	}

	.footer-contacts .contacts-column:first-child::before {
		display: none;
	}

	.footer-social li:first-child {
    padding-right: 12px;
	}

	.footer-contacts .contacts-column:first-child {
  	padding-top: 0;
	}

	.footer-navigation a {
		display: block;
		box-sizing: border-box;
		font-size: 14px;
		line-height: 25px;
		color: #ffffff;
		opacity: 0.6;
		padding: 12.5px;
		padding-right: 0;
		padding-left: 0;
	}

	.footer-contacts .footer-navigation::before {
    position: absolute;
    content: '';
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #626262;
		border-bottom: 1px solid #626262;
  }

	.footer-contacts .footer-navigation::after {
    position: absolute;
    content: '';
    top: 150px;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #626262;
		border-bottom: 1px solid #626262;
  }

	.mobile-contacts {
		display: block;
		box-sizing: border-box;
		width: 320px;
		margin: 0 auto;
		padding: 0 20px;
		padding-top: 17px;
		padding-left: 44px;
	}

	.mobile-contacts p,
	.mobile-contacts a {
		padding: 0;
		margin: 0;
		opacity: 0.5;
	}

	.mobile-contacts .footer-address {
		padding-left: 8px;
    margin-bottom: 24px;
    line-height: 25.92px;
	}

	.mobile-contacts .footer-address::before {
		background-image: url(../img/marker-mobile.svg);
	}

	.mobile-contacts .footer-email::before {
    background-image: url(../img/letter-mobile.svg);
	}

	.mobile-contacts .footer-phone::before {
    background-image: url(../img/phone-mobile.svg);
	}

	.mobile-contacts .footer-email {
    margin-bottom: 20px;
	}

	.mobile-contacts .work-time {
    top: 10px;
	}

	.footer-social {
    position: relative;
		top: auto;
		right: auto;
		width: 320px;
		justify-content: flex-start;
		margin: 0 auto;
		padding-left: 24px;
		margin-bottom: 29px;
	}

	.social-button {
	  display: block;
	  position: relative;
	  width: 60px;
	  height: 60px;
		box-sizing: border-box;

		background-repeat: no-repeat;
	  background-position: 50% 50%;
	}

	.social-button:hover,
	.social-button:focus {
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	}

	.social-button:active {
		opacity: 0.5;
	}

	.social-button-vk {
	  background-image: url("../img/icon-vk.png");
		background-size: 40px 24px;
	}

	.social-button-vk:hover,
	.social-button-vk:focus {
	  background-image: url("../img/icon-vk-hover.png");
		background-size: 40px 24px;
	}

	.social-button-tw {
	  background-image: url("../img/icon-tw.png");
		background-size: 31px 26px;
	}

	.social-button-tw:hover,
	.social-button-tw:focus {
	  background-image: url("../img/icon-tw-hover.png");
		background-size: 31px 26px;
	}

	.social-button-fb {
	  background-image: url("../img/icon-fb.png");
		background-size: 15px 29px;
		background-position: 44% 40%;
	}

	.social-button-fb:hover,
	.social-button-fb:focus {
	  background-image: url("../img/icon-fb-hover.png");
		background-size: 15px 29px;
		background-position: 44% 40%;
	}

	.footer-social li {
	  padding-right: 0;
	}

	.footer-social li:first-child {
		padding-right: 7px;
	}

	.dot {
		display: none;
	}

	.copyright {
		display: block;
	}

	.footer-contacts .footer-copyright {
		line-height: 14px;
		opacity: 0.33;
	}
